.rodape{
/* display: flex;
align-items: center;
justify-content: center; */
margin-top: 101px
}

.rodape .RedesSociais{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;  
  padding-top: 100px;
 margin: 0 auto;
 border-top: 1px black solid;
 max-width: 50%;
 margin-bottom: 60px;
}


.rodape .Direitos-Autorais{
    display: flex;
    background: #A8A355;
    justify-content: center;
    height:91px;
    align-items: center;
  
}
 
@media only screen and (max-width: 950px){
    
    
    .rodape .RedesSociais .iconesRedes{
        width: 30px;
    }
} 

